<h1><%= @breed.name%>'s</h1>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Full-Bred</th>
    <th>Owned?</th>
  </tr>
<% @pets.each do |pet| %>
  <tr>
  <td><%= pet.name %></td>
  <td><%= pet.age %></td>
  <% if pet.breeds.count > 1 %>
  <% pet.breeds.each do |breed| %>
  <% if breed.name != @breed.name %>
  <td>N (Mixed With <%= breed.name %>)</td>
  <% end %>
  <% end %>
  <% else %>
  <td> Y </td>
  <% end %>
  <td><%=pet.display_ownership%></td>
  <% if pet.display_ownership == "N" %>
  <td><%= link_to "Edit Pet", edit_admin_pet_path(pet), :class => "btn col-sm-4" %></td>
  <%end%>
</tr>
<%end%>
