<% if @user_pets %>
<h1><%=current_user.name%>'s Pets</h1>
<% @user_pets.each do |pet| %>
<br>

<%= pet.name %> - <%= pet.age %> years old - <%= pet.display_breed %>
<% end %>

<% else %>
<h1>Available Pets </h1>
<% @pets.each do |pet| %>
<%= pet.name %> - <%= pet.age %> years old - <%= pet.display_breed %>
<%= link_to "Adopt?", new_user_adoption_path(current_user) %>
<br>
<% end %>
<% end %>
