<div id="error_explanation">
  <h2>
    <% if @adoption.errors.count > 0 %>
    <%= pluralize(@adoption.errors.count, "error") %>
    prohibited this adoption:
  </h2>

  <ul>
  <% @adoption.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  <%end%>
  </ul>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(newAdoption);
    </script>

<h1> <%=@pet.display_name%> Adoption Agreement </h1>

<%= form_for([@pet, @adoption]) do |f| %>
<%= f.hidden_field :pet_id, :value => @pet.id %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.label :adoption_date %>
<%= f.date_field :adoption_date %>
<%= f.submit "Adopt #{@pet.name}" %>
<% end %>
