<% if @pet.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@pet.errors.count, "error") %>
      prohibited this pet from being saved:
    </h2>

    <ul>
    <% @pet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1> Edit <%= @pet.display_name%> Info </h1>


<%= form_for @pet, :url => admin_pet_update_path do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :age %>
<%= f.number_field :age %>
<br>
<%= f.label :breed %>
<br>
<%= collection_check_boxes :pet, :breed_ids, Breed.all, :id, :name %>
<%= f.fields_for :breed_attributes, @pet.breeds.build do |breeds_fields| %>
<br>
<%= f.label "New breed?" %>
<%= breeds_fields.text_field :name %>
<br>
<%= f.submit "Update #{@pet.name}" %>
<% end %>
<% end %>
