<h1>Add New Pet </h1>
<% if @pet.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@pet.errors.count, "error") %>
      prohibited this pet from being saved:
    </h2>

    <ul>
    <% @pet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @pet, :url => admin_pet_create_path do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :age %>
<%= f.number_field :age %>
<br>
<%= collection_check_boxes :pet, :breed_ids, Breed.all, :id, :name do |b| %>
    <div> <%= b.check_box %><%= b.label { b.text } %></div>
    <% end %>
<br>
<%= f.fields_for :breed_attributes, @pet.breeds.build do |breeds_fields| %>
<br>
<%= f.label "New breed?" %>
<%= breeds_fields.text_field :name %>
<br>
<%= f.submit "Add Pet" %>
<% end %>
<% end %>
