<% if @user_pets %>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Breed</th>
    <th>Adoption Date</th>
  </tr>
<% @user_pets.each do |pet| %>
  <tr>
  <td><%= pet.name %></td>
  <td><%= pet.age %></td>
  <td><%=pet.display_breed%></td>
  <% adoption = current_user.find_adoption_by_pet(pet) %>
  <td><%=adoption.adoption_date%></td>
  <%end%>
</tr>

<% else %>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Breed</th>
 <% if current_admin %>
    <th>Owned?</th>
    <%end%>
  </tr>
<% @pets.each do |pet| %>
  <tr>
  <td><%= pet.name %></td>
  <td><%= pet.age %></td>
  <td><%=pet.display_breed%></td>
  <% if current_admin %>
  <td><%=pet.display_ownership%></td>
  <% if pet.display_ownership == "N" %>
  <td><%= link_to "Edit Pet", edit_admin_pet_path(pet), class: 'button' %></td>
  <%end%>
  <% else %>
  <td><%= link_to "Adopt?", new_pet_adoption_path(pet), class: 'button' %></td>
  <%end%>
  <%end%>
</tr>
<%end%>
