<!DOCTYPE html>
<html>
  <head>
    <title>PawsitiveOutreach</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    <%if current_user %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Pawsitive Outreach</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/users/<%=current_user.id%>">Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/<%=current_user.id%>/pets">My Pets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pets">View Available Pets</a>
      </li>
    </ul>
    <li class="nav-item">
     <%= link_to('Logout', logout_path, method: :delete, :class => "btn") %>
    </li>
  </div>
</nav>
  <%elsif current_admin %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="/">Pawsitive Outreach Admin Mode</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/admin/pets">Pets List <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/breeds">Breeds List</a>
    </li>
  </ul>
  <li class="nav-item">
   <%= link_to('Logout', logout_path, method: :delete, :class => "btn") %>
  </li>
</div>
</nav>

  <%else%>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="/">Pawsitive Outreach</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">
    <% if !admin_page? %>
    <li class="nav-item">
      <a class="nav-link" href="users/new">Sign Up <span class="sr-only"></span></a>
    </li>
    <%end%>
    <li class="nav-item">
      <a class="nav-link" href="/login">Log In</a>
    </li>
    <ul>
    </div>
    </nav>
    <%end%>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
